<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="mx.tec.bamx">
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>


    <application
        android:networkSecurityConfig="@xml/network_config"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BAMX">
        <activity
            android:name=".OperadorRegistro.DetalleEntrega"
            android:exported="true" />
        <activity
            android:name=".OperadorRegistro.DetalleDonativoEspontaneo"
            android:exported="true" />
        <activity
            android:name=".DonativoRegistradoEspontaneo"
            android:exported="true" />

        <activity
            android:name=".RegistrarDonativoEspontaneo"
            android:exported="true" />
        <activity
            android:name=".ListViews.TPEspontaneas"
            android:exported="true" />
        <activity

            android:name=".LogIn"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".OperadorRegistro.DetalleDonativo"
            android:exported="true"
            android:parentActivityName=".RegistrarDonativo" />
        <activity
            android:name=".ListViews.TiendasPendientes"
            android:exported="true" />
        <activity
            android:name=".ListViews.EntregasPendientes"
            android:exported="true" />
        <activity
            android:name=".DonativoRegistrado"
            android:parentActivityName=".OperadorRegistro.DetalleDonativo" />
        <activity
            android:name=".RegistrarDonativo"
            android:parentActivityName=".ListViews.TiendasPendientes" />
    </application>

</manifest>